!!! 5
html
  head
    title Dante Watchface for Pebble
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css')
    script(src='http://code.jquery.com/jquery-2.0.3.js')
    script(src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    
  body
    #main.container
      h3 Dante Watchface for Pebble
      form(role="form")
        div.form-group
          label(for='forecast_api_key') Forecast.io API Key:
          input#forecast_api_key(type='text', name='forecast_api_key', value='').form-control
        div.form-group
          label(for='emoncms_api_key') Emoncms API Key:
          input#emoncms_api_key(type='text', name='emoncms_api_key', value='').form-control    
        div.form-group
          label(for='stock_symbol') Stock Symbol:
          input#stock_symbol(type='text', name='stock_symbol', value='').form-control
        .checkbox
          label
            input#ws_enabled(type="checkbox", name='ws_enabled', value='') 
            | WebSocket enabled
        div.form-group
          | Intervalo de actualización:
          select(name='interval')
            option(value='5') 5 minutos
            option(value='10') 10 minutos
            option(value='15') 15 minutos
            option(value='30') 30 minutos
        button#b-cancel.btn.btn-warning.btn-block(type='submit') Cancelar
        button#b-submit.btn.btn-success.btn-block(type='submit') Salvar
    :coffeescript
       getQueryVariable = (variable) ->
         query = location.search.substring(1)
         vars = query.split("&")
         i = 0
         while i < vars.length
           pair = vars[i].split("=")
           return decodeURIComponent(pair[1])  if pair[0] is variable
           i++
         ""
       saveOptions = ->
         options =
           forecast_api_key: $("#forecast_api_key").val()
           emoncms_api_key: $("#emoncms_api_key").val()
           stock_symbol: $("#stock_symbol").val(),
           ws_enabled: if $("#ws_enabled").prop("checked") then true else false
           
       $().ready ->
         $("#b-cancel").click ->
           console.log "Cancelando..."
           document.location = "pebblejs://close#"

         $("#b-submit").click ->
           options = JSON.stringify(saveOptions())
           console.log "Opciones ---> " + options
           document.location = "pebblejs://close#" + encodeURIComponent options
           
         $("#forecast_api_key").val getQueryVariable("forecast_api_key")
         $("#emoncms_api_key").val getQueryVariable("emoncms_api_key")
         $("#stock_symbol").val(getQueryVariable("stock_symbol"));
         if getQueryVariable("ws_enabled") is 'true' then $("#ws_enabled").prop("checked", "checked") else $("#ws_enabled").prop("checked", "")

